# Ignore environment files (Sensitive Information)
.env

# Ignore dependencies (can be installed using package.json)
node_modules/
package-lock.json

# Ignore system files
.DS_Store  # macOS system file
Thumbs.db  # Windows system file

# Ignore logs
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignore Docker build files
docker-compose.override.yml

# Ignore database migrations (optional)
migrations/

# Ignore compiled or temporary files
*.log
.cache/
.temp/
dist/
build/
